<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class="zerostatic">
              <img src="/pics/yams-small.png"/> <a href="https://yams.media">yams.media</a>
            </li>
            <li class="zerostatic">
              <img src="/pics/gitlab-small.png"/> <a href="https://gitlab.com/rogs/yams">gitlab.com/rogs/yams</a>
            </li>
            <li class="zerostatic">
              <img src="/pics/discord-small.png"/> <a href="https://discord.gg/Gwae3tNMST">Discord</a>
            </li>
            <li class="zerostatic">
              <img src="/pics/element-small.png"/> <a href="https://matrix.to/#/#yams-space:rogs.me">#yams-space:rogs.me</a>
            </li>
            {{ if not (in (.Site.BaseURL | string) "localhost") }}
            <li class="zerostatic">
              <img src="https://visitor-badge.laobi.icu/badge?page_id=https%3A%2f%2fyams.media{{ .Permalink | absURL }}&right_color=%235FAF63" alt="visitor badge"/>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
